/* 样式可编辑的段落 */
* p[contenteditable=""true""] {
  outline: none;
}

p,
html {
  font-family: "" Open Sans "";
}

i,
b {
  font-style: normal;
}

div {
  box-sizing: border-box;
}

button {
  border: none;
  font-family: "" Open Sans "";
  margin-left: 6px;
  cursor: pointer;
  font-size: 15px;
  min-width: 62px;
  padding: 0 10px 0 10px;
  height: 34px;
  line-height: 33px;
  background-color: #2d2d2d;
  color: #999;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

button:hover {
  color: #fff;
  border-color: #999;
  background-color: transparent;
  /* 鼠标悬停时的背景颜色 */
}

button#bt_copy {
  width: 84px;
  /* margin-left: 20px; */
}

::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(53, 53, 53); /* 设置滚动条拖动手柄的背景色 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 83, 83); /* 设置滚动条拖动手柄的悬停背景色 */
}

html,
body {
  width: 100%;
  height: 100%;
}

#main_wrap {
  height: 100%;
  background-color: rgb(30, 30, 30);
  padding-top: 60px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#full_screen {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: -99;
  padding-top: 5%;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  flex-direction: column;
  align-items: center;
  column-gap: 15px;
}

div.view_bar {
  display: flex;
  width: 80%;
  max-width: 1200px;
  padding: 0 30px 0 30px;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

div.view_bar i {
  /* color: #f00; */
}

div.imagelist {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  max-width: 1200px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

div.imagelist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
}

div.imagelist ul li {
  box-sizing: border-box;
  border-radius: 5px;
  color: #ccc;
  width: 120px;
  display: flex;
  border: 1px solid transparent;
  flex-direction: column-reverse;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease;
  background-color: #111;
}

div.imagelist h3 {
  color: #999;
  font-size: 29px;
  margin: 30px 0 10px 0;
}

div.imagelist ul li::after {
  width: 100%;
  border-color: #f00;
}

div.imagelist ul li:hover {
  border-color: #464646;
  border-width: 1px;
  background-color: #000000;
}

div.imagelist ul li:hover h2,
div.imagelist ul li.selected h2 {
  color: #fff;
}

div.imagelist ul li.selected {
  /* border-color: rgb(17, 124, 17); */
  border-width: 1px;
  color: #666;
  background-color: #ffffff;
}

div.imagelist ul li.selected::after {
  content: "" "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0);
}

div.imagelist ul li h2 {
  text-align: center;
  color: #999;
  background-color: #060606;
}

div.imagelist ul li p {
  display: none;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

div.imagelist ul li img {
  width: 240px; /* 假设原始图片宽度为 400px */
  height: 240px; /* 假设原始图片高度为 400px */
  background-color: #666;
  position: relative;
  /* image-rendering: pixelated; */
  /* object-fit: cover;
  transform: scale(0.5); */
}

div.imagelist ul li p.load::before {
  content: "" "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 25%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

div.imagelist ul li:hover h2 {
  background-color: #1d1d1d;
}

div.zh2 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 180px;
  min-height: 140;
  height: 100%;
  color: #a0a0a0;
  background-color: rgb(35, 35, 35);
  border-radius: 5px 5px 0 0;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-betweesn;
}

.zh2 > section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  border-right: 1px solid #333;
  transition: all 0.4s ease;
  flex-wrap: nowrap;
}

.zh2 > section:hover {
  /* width: 400px; */
  background-color: #111;
}

.zh2 h4 {
  width: 15%;
  padding: 0 10px 0 10px;
  font-family: "" Open Sans "";
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  color: #a1a1a1;
  border-right: 1px solid #333;
  transition: all 0.4s ease;
}

.zh2 > section:hover h4 {
  color: #c2c2c2;
}

.zh2 p {
  height: 100%;
  padding: 10px;
  font-family: "" Open Sans "";
  font-size: 15px;
  color: #a0a0a0;
}

div.zh {
  position: relative;
  width: 40%;
  display: flex;
  min-height: 120px;
  /* padding: 20px; */
  color: #a0a0a0;
  background-color: rgb(35, 35, 35);
  border-radius: 5px 5px 0 0;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.next {
  height: 100%;
  right: -20px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  background-color: transparent;
  width: 40px;
  transition: all 0.3s ease;
}

.next:hover {
  background-color: #4d4d4d;
}

.next::after {
  font: var(—fa-font-brands);
}

div h2 {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background-color: #353535;
}

div.zh p {
  font-size: 16px;
}

.div_edit {
  padding: 20px;
}

.main {
  display: flex;
  width: 40%;
  position: relative;
  top: 0;
  /* width: 800px; */
  min-height: 150px;
  max-height: 400px;
  /* padding: 20px; */
  background-color: rgb(35, 35, 35);
  border-radius: 0 0 5px 5px;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 1s ease;
}

.main button:nth-child(n + 1):nth-child(-n + 3) {
  /* opacity: 0; */
  /* visibility: hidden; */
}

.main:hover {
  /* top: -5px; */
  border-color: #4d4d4d;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.main:hover button:nth-child(n + 1):nth-child(-n + 3) {
  opacity: 1;
  visibility: visible;
}

.main p {
  /* font-family: ""Segoe UI"", sans-serif; */
  /* font-weight: normal; */
  font-family: Consolas, monospace;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5em;
  color: rgb(180, 180, 180);
}

.main p span {
  padding: 0 2px 0 2px;
}

.main p span i {
  padding: 0 2px 0 2px;
}

.main p strong {
  color: rgb(39, 156, 117);
  transition: all 0.8s ease;
}

.main p strong:hover {
  color: rgb(36, 36, 36);
  background-color: rgb(39, 156, 117);
}

.main .textdark {
  /* color: rgb(222, 222, 222); */
  transition: all 0.1s ease-in;
}

.status_bar {
  margin-top: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.status_bar p {
  max-width: 60%;
  /* 设置文本框的最大宽度 */
  white-space: nowrap;
  /* 防止文本换行 */
  overflow: hidden;
  /* 隐藏溢出文本 */
  line-height: 35px;
  text-overflow: ellipsis;
  /* 显示省略号 */
  visibility: hidden;
}

#commonds {
  display: flex;
  color: #999;
  width: 20%;
  /* max-width: 1200px; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12px;
  row-gap: 12px;
}

#commonds > div {
  display: flex;
  font-family: "" Open Sans "";
  font-size: 14px;
  /* margin-left: 20px; */
  height: 26px;
  padding-left: 5px;
  border-radius: 3px;
  line-height: 26px;
  color: #999;
  width: 50%;
  min-width: 100px;
  background-color: #2d2d2d;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
  flex-direction: row;
  justify-content: space-between;
}

#commonds > div:hover {
  color: #ccc;
  border-color: #999;
  background-color: transparent;
}

#commonds label {
  width: 50%;
}

#commonds select,
#commonds input {
  width: 50%;
  border: none;
  background-color: transparent;
  color: #fff;
}

#commonds select option {
  background-color: #666;
  color: #fff;
}

.highlighted {
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
}

.highlighted-word {
  cursor: pointer;
  border-radius: 2px;
  text-decoration: underline;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
  /* 添加过渡效果 */
}

#word_edit {
  width: 80%;
  font-size: 15px;
  color: #a0a0a0;
  /* margin: 40px 0 80px 0; */
}

#word_edit ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}

#word_edit ul li {
  position: relative;
  top: 0;
  display: flex;
  color: #fff;
  border: 1px solid transparent;
  padding: 3px 6px 4px 8px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.3s ease;
  /* 添加过渡效果 */
  /* background: linear-gradient(to bottom, rgb(81 81 81) 50%, #272727 50%); */
  /* background: #3e3e3e; */
  cursor: pointer;
}

#word_edit ul li:hover,
#word_edit ul li.on {
  top: -2px;
  /* background: #fff !important; */
  background-color: transparent !important;
  border: 1px solid #999;
}

#word_edit ul li:hover span,
#word_edit ul li.on span {
  color: #fff;
  /* font-weight: bold; */
}

#word_edit ul li i {
  font-family: "" Open Sans "";
  color: #c7c7c7;
  font-size: 12px;
  position: relative;
  top: -3px;
  display: none;
}

#word_edit ul li span {
  position: relative;
  color: #b0b0b0;
  font-size: 15px;
  position: relative;
  top: 1px;
  font-family: "" Open Sans "";
}
/* 样式可编辑的段落 */
* p[contenteditable="true"] {
  outline: none;
}

p,
html {
  font-family: "Open Sans";
}

i,
b {
  font-style: normal;
}

div {
  box-sizing: border-box;
}

button {
  border: none;
  font-family: "Open Sans";
  margin-left: 6px;
  cursor: pointer;
  font-size: 15px;
  min-width: 62px;
  padding: 0 10px 0 10px;
  height: 34px;
  line-height: 33px;
  background-color: #2d2d2d;
  color: #999;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

button:hover {
  color: #fff;
  border-color: #999;
  background-color: transparent;
  /* 鼠标悬停时的背景颜色 */
}

button#bt_copy {
  width: 84px;
  /* margin-left: 20px; */
}

::-webkit-scrollbar {
  width: 8px; /* 设置滚动条的宽度 */
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(53, 53, 53); /* 设置滚动条拖动手柄的背景色 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 83, 83); /* 设置滚动条拖动手柄的悬停背景色 */
}

html,
body {
  width: 100%;
  height: 100%;
}

#main_wrap {
  height: 100%;
  background-color: rgb(30, 30, 30);
  padding-top: 60px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#full_screen {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  background-color: #222;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: -99;
  padding-top: 5%;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  flex-direction: column;
  align-items: center;
  column-gap: 15px;
}

div.view_bar {
  display: flex;
  width: 80%;
  max-width: 1200px;
  padding: 0 30px 0 30px;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

div.view_bar i {
  /* color: #f00; */
}

div.imagelist {
  display: flex;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  padding: 30px;
  overflow-y: auto;
  max-width: 1200px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

div.imagelist ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: space-between;
}

div.imagelist ul li {
  box-sizing: border-box;
  border-radius: 5px;
  color: #ccc;
  width: 120px;
  display: flex;
  border: 1px solid transparent;
  flex-direction: column-reverse;
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease;
  background-color: #111;
}

div.imagelist h3 {
  color: #999;
  font-size: 29px;
  margin: 30px 0 10px 0;
}

div.imagelist ul li::after {
  width: 100%;
  border-color: #f00;
}

div.imagelist ul li:hover {
  border-color: #464646;
  border-width: 1px;
  background-color: #000000;
}

div.imagelist ul li:hover h2,
div.imagelist ul li.selected h2 {
  color: #fff;
}

div.imagelist ul li.selected {
  /* border-color: rgb(17, 124, 17); */
  border-width: 1px;
  color: #666;
  background-color: #ffffff;
}

div.imagelist ul li.selected::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0);
}

div.imagelist ul li h2 {
  text-align: center;
  color: #999;
  background-color: #060606;
}

div.imagelist ul li p {
  display: none;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

div.imagelist ul li img {
  width: 240px; /* 假设原始图片宽度为 400px */
  height: 240px; /* 假设原始图片高度为 400px */
  background-color: #666;
  position: relative;
  /* image-rendering: pixelated; */
  /* object-fit: cover;
  transform: scale(0.5); */
}

div.imagelist ul li p.load::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    transparent 25%,
    rgba(255, 255, 255, 0.4) 50%,
    transparent 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

div.imagelist ul li:hover h2 {
  background-color: #1d1d1d;
}

.wrap {
  margin-top: 30px;
  width: 85%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  /* column-gap: 20px; */
}

div.zh2 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 180px;
  min-height: 140;
  height: 100%;
  color: #a0a0a0;
  background-color: rgb(35, 35, 35);
  border-radius: 5px 5px 0 0;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-betweesn;
}

.zh2 > section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  border-right: 1px solid #333;
  transition: all 0.4s ease;
  flex-wrap: nowrap;
}

.zh2 > section:hover {
  /* width: 400px; */
  background-color: #111;
}

.zh2 h4 {
  width: 15%;
  padding: 0 10px 0 10px;
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  color: #a1a1a1;
  border-right: 1px solid #333;
  transition: all 0.4s ease;
}

.zh2 > section:hover h4 {
  color: #c2c2c2;
}

.zh2 p {
  height: 100%;
  padding: 10px;
  font-family: "Open Sans";
  font-size: 15px;
  color: #a0a0a0;
}

div.zh {
  position: relative;
  width: 40%;
  display: flex;
  min-height: 120px;
  /* padding: 20px; */
  color: #a0a0a0;
  background-color: rgb(35, 35, 35);
  border-radius: 5px 5px 0 0;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.next {
  height: 100%;
  right: -20px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  background-color: transparent;
  width: 40px;
  transition: all 0.3s ease;
}

.next:hover {
  background-color: #4d4d4d;
}

.next::after {
  font: var(--fa-font-brands);
}

div h2 {
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  background-color: #353535;
}

div.zh p {
  font-size: 16px;
}

.div_edit {
  padding: 20px;
}

.main {
  display: flex;
  width: 40%;
  position: relative;
  top: 0;
  /* width: 800px; */
  min-height: 150px;
  max-height: 400px;
  /* padding: 20px; */
  background-color: rgb(35, 35, 35);
  border-radius: 0 0 5px 5px;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 1s ease;
}

.main button:nth-child(n + 1):nth-child(-n + 3) {
  /* opacity: 0;
  visibility: hidden; */
}

.main:hover {
  /* top: -5px; */
  border-color: #4d4d4d;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.main:hover button:nth-child(n + 1):nth-child(-n + 3) {
  opacity: 1;
  visibility: visible;
}

.main p {
  /* font-family: "Segoe UI", sans-serif; */
  /* font-weight: normal; */
  font-family: Consolas, monospace;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5em;
  color: rgb(180, 180, 180);
}

.main p span {
  padding: 0 2px 0 2px;
}

.main p span i {
  padding: 0 2px 0 2px;
}

.main p strong {
  color: rgb(39, 156, 117);
  transition: all 0.8s ease;
}

.main p strong:hover {
  color: rgb(36, 36, 36);
  background-color: rgb(39, 156, 117);
}

.main .textdark {
  /* color: rgb(222, 222, 222); */
  transition: all 0.1s ease-in;
}

.status_bar {
  margin-top: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.status_bar p {
  max-width: 60%;
  /* 设置文本框的最大宽度 */
  white-space: nowrap;
  /* 防止文本换行 */
  overflow: hidden;
  /* 隐藏溢出文本 */
  line-height: 35px;
  text-overflow: ellipsis;
  /* 显示省略号 */
  visibility: hidden;
}

#commonds {
  display: flex;
  color: #999;
  width: 20%;
  /* max-width: 1200px; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12px;
  row-gap: 12px;
}

#commonds > div {
  display: flex;
  font-family: "Open Sans";
  font-size: 14px;
  /* margin-left: 20px; */
  height: 26px;
  padding-left: 5px;
  border-radius: 3px;
  line-height: 26px;
  color: #999;
  width: 50%;
  min-width: 100px;
  background-color: #2d2d2d;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
  flex-direction: row;
  justify-content: space-between;
}

#commonds > div:hover {
  color: #ccc;
  border-color: #999;
  background-color: transparent;
}

#commonds label {
  width: 50%;
}

#commonds select,
#commonds input {
  width: 50%;
  border: none;
  background-color: transparent;
  color: #fff;
}

#commonds select option {
  background-color: #666;
  color: #fff;
}

.highlighted {
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
}

.highlighted-word {
  cursor: pointer;
  border-radius: 2px;
  text-decoration: underline;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
  /* 添加过渡效果 */
}

#word_edit {
  width: 80%;
  font-size: 15px;
  color: #a0a0a0;
  /* margin: 40px 0 80px 0; */
}

#word_edit ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
}

#word_edit ul li {
  position: relative;
  top: 0;
  display: flex;
  color: #fff;
  border: 1px solid transparent;
  padding: 3px 6px 4px 8px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.3s ease;
  /* 添加过渡效果 */
  /* background: linear-gradient(to bottom, rgb(81 81 81) 50%, #272727 50%); */
  /* background: #3e3e3e; */
  cursor: pointer;
}

#word_edit ul li:hover,
#word_edit ul li.on {
  top: -2px;
  /* background: #fff !important; */
  background-color: transparent !important;
  border: 1px solid #999;
}

#word_edit ul li:hover span,
#word_edit ul li.on span {
  color: #fff;
  /* font-weight: bold; */
}

#word_edit ul li i {
  font-family: "Open Sans";
  color: #c7c7c7;
  font-size: 12px;
  position: relative;
  top: -3px;
  display: none;
}

#word_edit ul li span {
  position: relative;
  color: #b0b0b0;
  font-size: 15px;
  position: relative;
  top: 1px;
  font-family: "Open Sans";
}
