html,
body {
  width: 100%;
  height: 100%;
}

body,
#main_wrap {
  background-color: #222;
}

#full_screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  /* padding-top: 5%; */
  background-color: rgba(20, 20, 20, 0.8);
  opacity: 1;
  box-sizing: border-box;
  overflow: hidden;
  z-index: -99;
}

#fixed-header {
  width: 30%;
  height: 100%;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

#fixed-header h1 {
  text-align: center;
  color: #fff;
  line-height: 35px;
  font-size: 22px;
}

#fixed-header p {
  font-size: 15px;
  color: #fff;
}

#temp_en_edit {
  font-family: Consolas, monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: rgb(180, 180, 180);
  border: 1px solid transparent;
  padding: 10px;
  width: 100%;
  height: 100%;
  /* min-height: 200px; */
  max-height: 400px;
  /* margin-bottom: 50px; */
  background: #111;
  border-radius: 5px;
  overflow-y: auto;
}

#fixed-header .top {
  padding-top: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}

#fixed-header .top img {
  width: 150px;
  height: 150px;
}

#main {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #111;
}

.main-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 30px;
  width: 85%;
  max-width: 1200px;
}

.main-wrap nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #191919;
  user-select: none;
}

.main-wrap nav h2 {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

.main-wrap nav ul {
  display: flex;
}

.main-wrap nav ul li {
  width: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
}

.main-wrap nav ul li.active {
  background-color: #252525;
}

.main-wrap nav ul li:hover {
  background-color: #111;
}

.wrap {
  display: flex;
  width: 85%;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* 中文 */
.zh_wrap {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  min-height: 120px;
  /* padding: 20px; */
  color: #a0a0a0;
  background-color: transparent;
  border-radius: 5px 5px 0 0;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease;
}
.zh_wrap:hover {
  background-color: rgb(30, 30, 30);
}

p#p_zh {
  font-size: 16px;
}

/* 英文 */
.en_wrap {
  display: flex;
  width: 50%;
  position: relative;
  top: 0;
  min-height: 150px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #363636;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.en_wrap:hover {
  background-color: rgb(30, 30, 30);
}

/* 命令栏 */
.commonds_wrap {
  display: flex;
  color: #999;
  width: 100%;
  /* max-width: 1200px; */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12px;
  row-gap: 12px;
}

#zh_tabs {
  width: 100%;
  height: 100%;
}

#word_edit {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #a0a0a0;
  /* margin: 40px 0 80px 0; */
}

#word_edit ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 10px;
  row-gap: 5px;
}

#word_edit ul li {
  position: relative;
  top: 0;
  display: flex;
  color: #fff;
  border: 1px solid transparent;
  padding: 3px 6px 4px 8px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.3s ease;
  /* 添加过渡效果 */
  /* background: linear-gradient(to bottom, rgb(81 81 81) 50%, #272727 50%); */
  /* background: #3e3e3e; */
  cursor: pointer;
}

#word_edit ul li:hover,
#word_edit ul li.on {
  top: -2px;
  /* background: #fff !important; */
  background-color: transparent !important;
  border: 1px solid #999;
}

#word_edit ul li:hover span,
#word_edit ul li.on span {
  color: #fff;
  /* font-weight: bold; */
}

#word_edit ul li i {
  font-family: "" Open Sans "";
  color: #c7c7c7;
  font-size: 12px;
  position: relative;
  top: -3px;
  display: none;
}

#word_edit ul li span {
  position: relative;
  color: #b0b0b0;
  font-size: 15px;
  position: relative;
  top: 1px;
  font-family: "" Open Sans "";
}
