@charset "UTF-8";
::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(53, 53, 53);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(83, 83, 83);
}

.highlighted {
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
}

.highlighted-word {
  cursor: pointer;
  border-radius: 2px;
  text-decoration: underline;
  /* font-weight: bold; */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: all 0.1s ease-in;
  /* 添加过渡效果 */
}

/* 样式可编辑的段落 */
* p[contenteditable=true] {
  outline: none;
}

* {
  font-family: "Open Sans";
  font-style: normal;
}

h2 {
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
}

p#p_zh {
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

svg path, svg rect {
  stroke: #999;
  stroke: #999;
}
svg.active {
  color: #ccc !important;
  background-color: #000 !important;
}
svg.active svg path {
  stroke: #fff;
}
svg:hover {
  color: #999;
}
svg:hover svg path, svg:hover svg rect {
  stroke: #fff;
}

button {
  display: flex;
  border: none;
  font-family: "Open Sans";
  margin-left: 6px;
  cursor: pointer;
  font-size: 15px;
  min-width: 62px;
  padding: 0 10px 0 10px;
  height: 34px;
  line-height: 33px;
  background-color: #2b2b2b;
  color: #999;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  align-content: center;
  justify-content: center;
  align-items: center;
}
button:hover {
  color: #fff;
  border-color: #999;
  background-color: transparent;
  /* 鼠标悬停时的背景颜色 */
}
button.left {
  position: absolute;
  padding: 0 10px 0 10px;
  left: 20px;
  margin: 0;
}
button#bt_zh {
  visibility: hidden;
}
button#bt_copy {
  width: 84px;
  border: 1px solid #353535;
  background: #2d2d2d;
  margin-left: 20px;
}
button#bt_copy:hover {
  color: #333;
  background-color: #fff;
}

:root {
  --color-tab-bk: #222;
  --color-tab-bk-hover: #111;
}

.view_svg {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-tab-bk);
  z-index: 81;
  overflow-x: auto;
  transition: background-color 0.15s ease;
}
.view_svg:hover {
  background-color: var(--color-tab-bk-hover);
}
.view_svg ul {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(153, 153, 153);
  font-family: "Open Sans";
  scroll-behavior: smooth;
  justify-items: center;
  padding: 8px;
  overflow: auto;
}
.view_svg ul::-webkit-scrollbar {
  width: 1px;
}
.view_svg ul::-webkit-scrollbar-track {
  background: transparent;
}
.view_svg ul::-webkit-scrollbar-thumb {
  background: #666;
}
.view_svg ul::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.view_svg ul li {
  position: relative;
  height: 150px;
  width: 120px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease 0s;
  border-radius: 10px;
}
.view_svg ul li:hover {
  color: rgb(255, 255, 255);
  width: 130%;
}
.view_svg ul li:hover svg rect {
  stroke-width: 2px;
  stroke: #fff;
}
.view_svg ul li:hover svg path {
  stroke: #fff;
  stroke-width: 2px;
}
.view_svg ul li.selected {
  color: #fff;
}
.view_svg ul li.selected svg {
  background: #2e454f !important;
}
.view_svg ul li svg {
  width: 120px;
  height: 77px;
}
.view_svg ul li svg rect {
  stroke: #999;
  stroke-width: 1px;
}
.view_svg ul li svg path {
  stroke: #999;
  stroke-width: 1.5px;
}

.view_img {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--color-tab-bk);
  overflow-x: auto;
  transition: background-color 0.15s ease;
}
.view_img:hover {
  background-color: var(--color-tab-bk-hover);
}
.view_img ul {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px);
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(153, 153, 153);
  font-family: "Open Sans";
  scroll-behavior: smooth;
  justify-items: center;
  padding: 8px;
  overflow: auto;
}
.view_img ul::-webkit-scrollbar {
  width: 1px;
}
.view_img ul::-webkit-scrollbar-track {
  background: transparent;
}
.view_img ul::-webkit-scrollbar-thumb {
  background: #666;
}
.view_img ul::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.view_img ul li {
  position: relative;
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease 0s;
  border-radius: 10px;
  box-sizing: border-box;
  user-select: none;
  -web-kit-user-select: none;
}
.view_img ul li.selected {
  color: #fff;
}
.view_img ul li.selected img {
  filter: brightness(100%);
  background-color: transparent;
  border: 2px solid #53a76d;
}
.view_img ul li:hover {
  color: #fff;
}
.view_img ul li:hover img {
  width: 110%;
  filter: brightness(80%);
}
.view_img ul li img {
  position: absolute;
  width: 100%;
  transform: translate(0px, -50%);
  top: 50%;
  z-index: 1;
  filter: brightness(28%);
  border-radius: 15px;
  height: auto;
  object-fit: cover;
  background-color: rgb(109, 109, 109);
  transition: brightness, background-color, width 0.2s ease;
}
.view_img ul li h4 {
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  color: rgb(186, 186, 186);
  overflow: hidden;
}
.view_img ul li h4 span {
  width: 100%;
  display: inline-block;
  font-size: 6px;
  font-family: serif;
  color: #737373;
  overflow: hidden;
  white-space: nowrap;
  /* 让文本不换行 */
  text-overflow: ellipsis;
  /* 超过部分显示省略号 */
}

.view_img2 {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(17, 17, 17);
  overflow-x: auto;
  flex-direction: column;
}
.view_img2 h3 {
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
.view_img2 ul {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, 110px);
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(153, 153, 153);
  font-family: "Open Sans";
  scroll-behavior: smooth;
  justify-items: center;
  padding: 8px;
}
.view_img2 ul::-webkit-scrollbar {
  width: 1px;
}
.view_img2 ul::-webkit-scrollbar-track {
  background: transparent;
}
.view_img2 ul::-webkit-scrollbar-thumb {
  background: #666;
}
.view_img2 ul::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.view_img2 ul li {
  position: relative;
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: all 0.2s ease;
  user-select: none;
  -web-kit-user-select: none;
  border-radius: 10px;
  justify-content: center;
}
.view_img2 ul li.selected {
  color: #fff;
}
.view_img2 ul li.selected img {
  filter: brightness(100%);
  background-color: transparent;
  border: 2px solid #53a76d;
}
.view_img2 ul li:hover {
  color: #fff;
}
.view_img2 ul li:hover img {
  width: 110%;
  filter: brightness(80%);
}
.view_img2 ul li img {
  position: absolute;
  width: 100%;
  transform: translate(0px, -50%);
  top: 50%;
  z-index: 1;
  filter: brightness(28%);
  border-radius: 15px;
  height: auto;
  object-fit: cover;
  background-color: rgb(109, 109, 109);
  transition: brightness, background-color, width 0.2s ease;
}
.view_img2 ul li h4 {
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  color: rgb(186, 186, 186);
  overflow: hidden;
}
.view_img2 ul li h4 span {
  width: 100%;
  display: inline-block;
  font-size: 6px;
  font-family: serif;
  color: #737373;
  overflow: hidden;
  white-space: nowrap;
  /* 让文本不换行 */
  text-overflow: ellipsis;
  /* 超过部分显示省略号 */
}

.view_img3 {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(17, 17, 17);
  overflow-x: auto;
  flex-direction: column;
}
.view_img3 h3 {
  color: #fff;
  padding: 8px;
  font-size: 18px;
}
.view_img3 ul {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: repeat(auto-fill, 150px);
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(153, 153, 153);
  font-family: "Open Sans";
  scroll-behavior: smooth;
  justify-items: center;
  padding: 8px;
}
.view_img3 ul::-webkit-scrollbar {
  width: 1px;
}
.view_img3 ul::-webkit-scrollbar-track {
  background: transparent;
}
.view_img3 ul::-webkit-scrollbar-thumb {
  background: #666;
}
.view_img3 ul::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.view_img3 ul li {
  position: relative;
  box-sizing: border-box;
  height: 60px;
  width: 150px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: all 0.2s ease;
  user-select: none;
  -web-kit-user-select: none;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
}
.view_img3 ul li.selected {
  background: rgba(39, 156, 117, 0.21);
  border: 2px solid #53a76d;
}
.view_img3 ul li.selected h4 {
  font-size: 16px;
  color: rgb(66, 210, 162);
}
.view_img3 ul li.selected img {
  filter: brightness(100%);
  background-color: transparent;
}
.view_img3 ul li::-webkit-scrollbar {
  width: 0;
}
.view_img3 ul li:hover {
  color: #fff;
}
.view_img3 ul li:hover img {
  width: 110%;
  filter: brightness(80%);
}
.view_img3 ul li img {
  position: absolute;
  width: 100%;
  transform: translate(0px, -50%);
  top: 50%;
  z-index: 1;
  filter: brightness(28%);
  border-radius: 15px;
  height: auto;
  object-fit: cover;
  background-color: rgb(109, 109, 109);
  transition: brightness, background-color, width 0.2s ease;
}
.view_img3 ul li h4 {
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 8;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  color: rgb(186, 186, 186);
  overflow: hidden;
}
.view_img3 ul li h4 span {
  width: 100%;
  display: none;
  font-size: 6px;
  font-family: serif;
  color: #737373;
  overflow: hidden;
  white-space: nowrap;
  /* 让文本不换行 */
  text-overflow: ellipsis;
  /* 超过部分显示省略号 */
}

:root {
  --body-bk-color: #333;
  --bk-color1: #111;
  --bk-color3: #222;
  --bt-color1: #2d2d2d;
  --bt-color1-hover: #fff;
  --bt-color1-hover-bk: transparent;
  --secondary-color: #ff5722;
  --font-size: 16px;
  --color-tab-bk: #222;
  --color-tab-bk-hover: #111;
  --color-caret: #fee082;
}

.tooltip {
  position: fixed;
  z-index: 100;
  padding: 10px 10px;
  border: 1px solid #0b0b0b;
  border-radius: 4px;
  text-align: center;
  font: 12px/1.3 sans-serif;
  color: #c9c9c9;
  background: #292929;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  background: var(--body-bk-color);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--body-bk-color);
}

#full_version {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
#full_version.on {
  min-width: 0%;
  width: 0px;
}
#full_version.on .container {
  opacity: 0.5;
}
#full_version .version_wrap {
  position: relative;
  user-select: none;
  display: flex;
  min-width: 12%;
  max-width: 300px;
  height: 100%;
  flex-direction: column;
  background: #232222;
  box-shadow: 0px 10px 38px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 199;
  transition: all 0.3s ease;
}
#full_version .version_wrap .container {
  display: flex;
  padding: 15px 0 15px 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.1s ease-in;
  flex-direction: column;
}
#full_version .version_wrap .container .nav {
  box-sizing: border-box;
  display: flex;
  height: 40px;
  width: 100%;
  padding: 0 15px 0 15px;
  align-content: center;
}
#full_version .version_wrap .container .nav h2 {
  font-size: 16px;
  width: 100%;
  padding-left: 10px;
}
#full_version .version_wrap .container .nav p {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  column-gap: 20px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}
#full_version .version_wrap .container .nav p i {
  font-size: 14px;
  color: #666;
}
#full_version .version_wrap .container .nav p i:hover {
  color: #ccc;
}
#full_version .version_wrap .container .nav p i.on {
  color: #eee;
}
#full_version .version_wrap .container .wrap {
  opacity: 100;
  width: 100%;
  height: calc(100% - 90px);
  transition: all 0.1s ease;
  overflow: hidden;
}
#full_version .version_wrap .container .wrap ul {
  width: 100%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  row-gap: 8px;
}
#full_version .version_wrap .container .wrap ul li {
  border-bottom: 1px solid #333;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  max-height: 20%;
  height: 100%;
  display: flex;
  transition: background 0.1s ease;
  flex-direction: column;
  border-radius: 8px;
  row-gap: 10px;
  overflow: hidden;
  background: #171717;
}
#full_version .version_wrap .container .wrap ul li:hover {
  background: #555;
}
#full_version .version_wrap .container .wrap ul li:hover h2 {
  color: #ccc;
}
#full_version .version_wrap .container .wrap ul li:hover h2 p {
  visibility: visible;
}
#full_version .version_wrap .container .wrap ul li:hover p {
  color: #fff;
}
#full_version .version_wrap .container .wrap ul li h2 {
  display: flex;
  text-align: left;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  padding: 0;
  color: #777;
  justify-content: space-between;
}
#full_version .version_wrap .container .wrap ul li h2 span {
  width: 100%;
}
#full_version .version_wrap .container .wrap ul li h2 p {
  display: flex;
  visibility: hidden;
  column-gap: 12px;
  justify-content: flex-end;
}
#full_version .version_wrap .container .wrap ul li p {
  text-overflow: ellipsis;
  width: 100%;
  font-size: 14px;
  color: #ccc;
}
#full_version .version_wrap .container .open {
  box-sizing: border-box;
  padding: 0 15px 0 15px;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.1s ease;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
}
#full_version .version_wrap .container .open label {
  display: flex;
  padding: 0 15px 0 15px;
  height: 34px;
  background: #111;
  font-size: 15px;
  color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: border, background 0.2s ease;
}
#full_version .version_wrap .container .open label:hover {
  background: transparent;
  border: 1px solid #fff;
}
#full_version .version_wrap .container .open label input {
  display: none;
}
#full_version .version_wrap .folding {
  width: 36px;
  height: 50px;
  font-size: 14px;
  position: absolute;
  display: flex;
  background: #222;
  right: -36px;
  cursor: pointer;
  color: #ccc;
  top: calc(50% - 25px);
  justify-content: center;
  align-items: center;
  border-radius: 0 8px 8px 0;
  user-select: none;
  transition: all 0.3s ease;
}
#full_version .version_wrap .folding:hover {
  background: #444;
}
#full_version .blur_full {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

#main_wrap {
  background: var(--body-bk-color);
}

#full_screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -web-kit-backdrop-filter: blur(5px);
  box-sizing: border-box;
  overflow: hidden;
  z-index: -99;
}
#full_screen.ontop {
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.5);
  z-index: 199;
}
#full_screen.two {
  height: 50%;
}
#full_screen .full_screen-wrap {
  display: flex;
  width: 90%;
  height: 85%;
  flex-direction: row;
  align-items: flex-start;
  overflow-y: auto;
  justify-content: center;
  background-color: #1d1d1d;
  border-radius: 10px;
}
#full_screen .full_screen-wrap #fixed-header {
  width: 12%;
  height: 100%;
  display: flex;
  padding: 15px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  background: #000;
}
#full_screen .full_screen-wrap #fixed-header h1 {
  text-align: center;
  color: #fff;
  line-height: 35px;
  font-size: 22px;
}
#full_screen .full_screen-wrap #fixed-header p {
  font-size: 15px;
  color: #fff;
}
#full_screen .full_screen-wrap #fixed-header .top {
  /* padding-top: 40px; */
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 50%;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}
#full_screen .full_screen-wrap #fixed-header .top img {
  width: 150px;
  height: 150px;
}
#full_screen .full_screen-wrap #fixed-header .top p#zh_intro {
  width: 100%;
  height: 100%;
  color: #bebebe !important;
  font-size: 14px !important;
  padding: 20px;
  overflow-y: auto;
}
#full_screen .full_screen-wrap .view_bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  padding: 0 20px 0px 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5px;
  align-items: center;
  justify-content: space-between;
}
#full_screen .full_screen-wrap .view_bar .button_wrap {
  display: flex;
}
#full_screen .full_screen-wrap .right {
  display: flex;
  width: 88%;
  /* padding: 20px; */
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.view {
  display: flex;
  color: #333;
  height: 100%;
  padding: 0 20px;
  align-items: center;
  justify-content: flex-end;
}
.view ul {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.view ul li {
  display: flex;
  font-size: 18px;
  color: rgb(204, 204, 204);
  flex-direction: row;
  padding-right: 20px;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: var(--body-bk-color);
}
#main .container {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  padding: 5%;
}
#main .container > div:nth-child(1) {
  grid-area: 1/1/3/2;
}
#main .container > div:nth-child(2) {
  grid-area: 1/2/2/3;
}
#main .container > div:nth-child(3) {
  grid-area: 2/2/3/3;
}
#main .container > div.left {
  display: flex;
  flex-direction: column;
  transition: border 0.3s ease;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #222;
}
#main .container > div.left.on {
  border: 2px solid #fff;
}
#main .container > div.left footer {
  height: 40px;
  overflow: hidden;
}
#main .container > div.left footer ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  background: #222;
  border-radius: 8px 8px 0 0;
}
#main .container > div.left footer ul li {
  overflow: hidden;
}
#main .container > div.left footer ul li svg {
  height: 20px;
}
#main .container > div.left footer ul li img {
  height: 20px;
}
#main .container > div.left .wrap {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
}
#main .container > div.left .wrap iframe {
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
#main .container > div.left .wrap .info {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
}
#main .container > div.left .wrap .info p {
  color: #fff;
  font-size: 18px;
}
#main .container > div.left .wrap .info.on {
  z-index: 90;
}
#main .container > div:hover {
  border-color: #4d4d4d;
}
#main .container > div:hover button:nth-child(n+1):nth-child(-n+3) {
  opacity: 1;
  visibility: visible;
}

.main_wrap {
  display: flex;
  min-height: 50%;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.main_wrap nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
  -web-kit-user-select: none;
}
.main_wrap nav h2 {
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.main_wrap nav ul {
  display: flex;
}
.main_wrap nav ul li {
  width: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  color: #666;
  background-color: transparent;
  user-select: none;
  -web-kit-user-select: none;
}
.main_wrap nav ul li.active {
  color: #ccc !important;
  background-color: #000 !important;
}
.main_wrap nav ul li.active svg path {
  stroke: #fff;
}
.main_wrap nav ul li:hover {
  color: #999;
  background-color: #111;
}
.main_wrap nav ul li:hover svg path {
  stroke: #ccc;
}
.main_wrap nav ul li svg path {
  stroke: #999;
}
.main_wrap .status_bar {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
  -web-kit-user-select: none;
}
.main_wrap .status_bar p {
  max-width: 60%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 35px;
  text-overflow: ellipsis;
  visibility: hidden;
}
.main_wrap .tab1 {
  background: #222;
  z-index: 23;
}
.main_wrap .tab1:hover {
  background: #111;
}
.main_wrap .tab2 {
  background: #222;
}
.main_wrap .tab2:hover {
  background: #111;
}
.main_wrap .en_wrap {
  display: flex;
  width: 50%;
  position: relative;
  top: 0;
  min-height: 150px;
  border-radius: 8px 0 0 8px;
  /* border: 1px solid #111; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* transition: all 0.3s ease; */
  overflow: hidden;
  background: #232323;
}
.main_wrap .en_wrap:hover {
  background-color: rgb(30, 30, 30);
}
.main_wrap .en_wrap .status_bar {
  justify-content: flex-end;
}
.main_wrap .en_wrap .status_bar button {
  transition: all 0.4s ease;
}
.main_wrap .en_wrap .status_bar button:nth-child(1) {
  position: absolute;
  padding: 0 10px 0 10px;
  left: 20px;
  margin: 0;
}
.main_wrap .en_wrap .status_bar button:nth-child(2) {
  position: absolute;
  left: 130px;
}
.main_wrap .en_wrap .status_bar button:nth-child(n+3):nth-child(-n+5) {
  background-color: transparent;
  min-width: 35px;
  margin: 0;
  padding: 0;
}
.main_wrap .en_wrap .status_bar button:nth-child(n+3):nth-child(-n+5):hover {
  color: #fff;
}
.main_wrap .en_wrap #en_tabs {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}
.main_wrap .en_wrap #en_tabs #word_edit_en.ontop {
  z-index: 26;
}
.main_wrap .en_wrap #en_tabs #word_edit_en.ontop_row {
  z-index: 26;
}
.main_wrap .en_wrap #en_tabs #word_edit_en.ontop_row ul {
  flex-direction: row;
}
.main_wrap .en_wrap #en_tabs #word_edit_en ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 10px;
  row-gap: 10px;
}
.main_wrap .en_wrap #en_tabs #word_edit_en ul li {
  position: relative;
  font-size: 14px;
  top: 0;
  display: flex;
  min-height: 20px;
  height: 100%;
  color: #b9b9b9;
  border: 1px solid transparent;
  padding: 3px 6px 4px 8px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.3s ease;
  cursor: pointer;
}
.main_wrap .en_wrap #en_tabs #word_edit_en ul div.ontop {
  z-index: 29;
}
.main_wrap .en_wrap #en_tabs #word_edit_en ul div.ontop ul {
  text-align: right;
  z-index: 29;
}
.main_wrap .zh_wrap {
  position: relative;
  width: 50%;
  display: flex;
  min-height: 120px;
  color: #a0a0a0;
  background-color: #222;
  border-radius: 0 8px 8px 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}
.main_wrap .zh_wrap #zh_tabs {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
}
.main_wrap .zh_wrap #zh_tabs div.ontop {
  z-index: 29;
}
.main_wrap .zh_wrap #zh_tabs div.ontop_row {
  z-index: 29;
}
.main_wrap .zh_wrap #zh_tabs div.ontop_row ul {
  flex-direction: row;
}
.main_wrap:hover {
  background-color: rgb(30, 30, 30);
}
.main_wrap:hover .status_bar button:nth-child(n+2):nth-child(-n+7) {
  opacity: 1;
}
.main_wrap .status_bar {
  justify-content: flex-start;
}
.main_wrap .status_bar button {
  background: var(--bt-color1);
}
.main_wrap .status_bar button:hover, .main_wrap .status_bar button.on {
  background: var(--bt-color1-hover-bk);
  color: var(--bt-color1-hover);
}
.main_wrap .resize {
  position: absolute;
  width: 6px;
  left: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: w-resize;
  z-index: 77;
  transition: opacity, border-radius, width 0.3s;
}
.main_wrap .resize i {
  opacity: 0;
  cursor: pointer;
  user-select: none;
  -web-kit-user-select: none;
  transition: transform 0.3s ease-out;
}
.main_wrap .resize:hover, .main_wrap .resize.mg {
  background-color: rgb(69, 69, 69);
  opacity: 1;
}
.main_wrap .resize.mgleft, .main_wrap .resize.mgright {
  display: flex;
  color: #666;
  font-size: 20px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.main_wrap .resize.mgleft i, .main_wrap .resize.mgright i {
  opacity: 1;
}
.main_wrap .resize.mgleft:hover, .main_wrap .resize.mgright:hover {
  color: #ccc;
  background: #111;
}
.main_wrap .resize.mgleft {
  left: 0;
  width: 40px;
  border-radius: 8px 0 0 8px;
  background: #191919;
  user-select: none;
  -web-kit-user-select: none;
}
.main_wrap .resize.mgleft i:hover {
  transform: scale(1.3);
}
.main_wrap .resize.mgright {
  left: 0;
  width: 40px;
  border-radius: 0 8px 8px 0;
  background: #191919;
}
.main_wrap .resize.mgright i {
  transform: scaleX(-1);
}
.main_wrap .resize.mgright i:hover {
  transform: scale(-1.3, 1.3);
}

.div_after {
  width: 100%;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color: #111;
  height: 170px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  border-radius: 8px;
  overflow: hidden;
  transition: top 0.3s ease;
  z-index: 1;
}
.div_after > div {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: z-index;
}
.div_after > div.active {
  opacity: 1;
  z-index: 87;
}
.div_after > div.tab_default {
  opacity: 1;
  z-index: 82;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: var(--color-tab-bk);
  transition: background-color 0.15s ease;
}
.div_after > div.tab_default:hover {
  background-color: var(--color-tab-bk-hover);
}
.div_after > div.tab_default #commonds {
  display: flex;
  color: #999;
  width: 100%;
  padding: 20px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 12px;
  row-gap: 12px;
  align-content: center;
  background: var(--color-tab-bk);
}
.div_after > div.tab_default #commonds .left {
  display: flex;
  height: 100%;
  width: 30%;
  flex-direction: row;
  justify-content: space-between;
}
.div_after > div.tab_default #commonds .left > div {
  width: 50%;
}
.div_after > div.tab_default #commonds .left .aspect_wrap {
  display: flex;
  flex-direction: column;
}
.div_after > div.tab_default #commonds .left .aspect_wrap label {
  display: flex;
  height: 30px;
}
.div_after > div.tab_default #commonds .left .aspect_wrap section {
  display: flex;
  width: 156px;
  height: 90px;
  color: #999;
  background: #222;
  border: 2px solid #424242;
  justify-content: center;
  align-items: center;
}
.div_after > div.tab_default #commonds .left .aspect_wrap section:hover {
  color: #eee;
  background: #333;
}
.div_after > div.tab_default #commonds .left .aspect_wrap section p {
  font-size: 26px;
  font-weight: bold;
}
.div_after > div.tab_default #commonds .right {
  display: flex;
  height: 100%;
  width: 70%;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
}
.div_after > div.tab_default #commonds .right > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  box-sizing: border-box;
  width: 50%;
  min-width: 100px;
  height: 26px;
  padding-left: 5px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 26px;
  color: #999;
  transition: all 0.3s ease-in;
  border: 1px solid transparent;
}
.div_after > div.tab_default #commonds .right > div label {
  width: 40%;
  text-align: right;
}
.div_after > div.tab_default #commonds .right > div:hover label {
  color: #ccc;
}
.div_after > div.tab_default #commonds input {
  width: 60%;
  border: none;
  background-color: #2e2e2e;
  color: #fff;
  border-radius: 3px;
}
.div_after > div.tab_default #commonds input:hover {
  color: #ccc;
  border-color: #fdfdfd;
  background-color: #000000;
}
.div_after > div.tab_default #commonds select {
  width: 60%;
  border: none;
  background-color: #2e2e2e;
  color: #fff;
  border-radius: 3px;
}
.div_after > div.tab_default #commonds select option {
  background-color: #666;
  color: #fff;
}

.tab1, .tab2 {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#word_edit_en ul li:hover, #word_edit_en ul li.on {
  top: -2px;
  border: 1px solid #999 !important;
}
#word_edit_en ul li:hover span, #word_edit_en ul li.on span {
  color: #fff;
}
#word_edit_en ul li.clicked {
  background: #fff !important;
  color: #000 !important;
}
#word_edit_en ul .moving {
  background: transparent !important !important;
  color: transparent !important !important;
  border: 1px dashed #ccc !important !important;
}

#word_edit {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #a0a0a0;
  /* margin: 40px 0 80px 0; */
}
#word_edit ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 10px;
  row-gap: 10px;
}
#word_edit ul li {
  position: relative;
  top: 0;
  display: flex;
  min-height: 20px;
  font-size: 14px;
  height: 100%;
  color: #c4c4c4;
  border: 1px solid transparent;
  padding: 3px 6px 4px 8px;
  border-radius: 5px;
  flex-direction: column;
  transition: all 0.12s ease;
  cursor: pointer;
}
#word_edit ul li:hover, #word_edit ul li.on {
  top: -2px;
  /* background: #fff !important; */
  background-color: transparent;
  border: 1px solid #999;
}
#word_edit ul li:hover span, #word_edit ul li.on span {
  color: #fff;
  /* font-weight: bold; */
}
#word_edit ul li.clicked {
  background: #fff !important;
  color: #000 !important;
}
#word_edit ul li i {
  font-family: "Open Sans";
  color: #c7c7c7;
  font-size: 12px;
  position: relative;
  top: -3px;
  display: none;
}
#word_edit ul li span {
  position: relative;
  color: #b0b0b0;
  font-size: 15px;
  position: relative;
  top: 1px;
  font-family: "Open Sans";
}
#word_edit ul .moving {
  background: transparent;
  color: transparent;
  border: 1px dashed #ccc;
}
#word_edit h3 {
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: normal;
  padding: 0 20px 8px 0;
  color: #fff;
  height: 34px;
  line-height: 40px;
  /* border-bottom: 1px solid #555; */
  margin: 20px 0 10px 0;
}

#p_en {
  font-family: Consolas, monospace;
  overflow-y: auto;
  font-size: 16px;
  line-height: 1.5em;
  color: rgb(180, 180, 180);
  caret-color: var(--color-caret);
}
#p_en span {
  padding: 0 2px 0 2px;
}
#p_en span i {
  padding: 0 2px 0 2px;
}
#p_en span strong {
  color: rgb(39, 156, 117);
  transition: all 0.8s ease;
}
#p_en span strong:hover {
  color: rgb(36, 36, 36);
  background-color: rgb(39, 156, 117);
}

.div_edit {
  caret-color: var(--color-caret);
  padding: 20px;
  width: 100%;
  height: 100%;
}

#temp_en_edit {
  font-family: Consolas, monospace;
  font-size: 12px;
  line-height: 1.5em;
  color: rgb(180, 180, 180);
  border: 1px solid transparent;
  padding: 10px;
  width: 100%;
  height: 50%;
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 5px;
}
#temp_en_edit span {
  padding: 0 2px 0 2px;
}
#temp_en_edit span i {
  padding: 0 2px 0 2px;
}
#temp_en_edit span strong {
  color: rgb(39, 156, 117);
  transition: all 0.8s ease;
}
#temp_en_edit span strong:hover {
  color: rgb(36, 36, 36);
  background-color: rgb(39, 156, 117);
}

.list_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.list_wrap .prev, .list_wrap .next {
  display: flex;
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.list_wrap .prev {
  left: 0;
  background: linear-gradient(90deg, #000 23.9%, rgba(0, 0, 0, 0) 101.11%);
}
.list_wrap .prev svg {
  width: 40px;
  color: #888;
  height: 100%;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.list_wrap .prev:hover svg {
  color: #fff;
  width: 60px;
  opacity: 1;
}
.list_wrap .prev.hide {
  visibility: hidden;
}
.list_wrap .next {
  right: 0;
  background: linear-gradient(-90deg, #000 23.9%, rgba(0, 0, 0, 0) 101.11%);
}
.list_wrap .next svg {
  width: 40px;
  color: #888;
  height: 100%;
  opacity: 0.3;
  transition: all 0.5s ease;
}
.list_wrap .next:hover svg {
  color: #fff;
  opacity: 1;
  width: 60px;
}
.list_wrap .next.hide {
  visibility: hidden;
}
.list_wrap .view_img4 {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 20px 0 20px;
  scroll-behavior: smooth;
  z-index: 1;
}
.list_wrap .view_img4.blur {
  filter: blur(10px);
  transition: filter 0.3s ease-in-out;
}
.list_wrap .view_img4::-webkit-scrollbar {
  height: 12px;
}
.list_wrap .view_img4::-webkit-scrollbar-track {
  background: transparent;
}
.list_wrap .view_img4.cssview_A .word_wrap ul {
  grid-template-columns: 1fr 1fr;
}
.list_wrap .view_img4.cssview_B .word_wrap ul {
  grid-template-columns: 1fr 1fr;
}
.list_wrap .view_img4.cssview_B .word_wrap ul li {
  display: flex;
  height: 120px;
  flex-direction: column;
  justify-content: center;
}
.list_wrap .view_img4.cssview_B .word_wrap ul li h3 {
  text-align: center;
}
.list_wrap .view_img4.cssview_C .word_wrap ul {
  grid-template-columns: 1fr;
}
.list_wrap .view_img4 .word_wrap {
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  background: transparent;
  transition: background 0.4s ease;
  color: #999;
}
.list_wrap .view_img4 .word_wrap:hover {
  background: #333;
}
.list_wrap .view_img4 .word_wrap:hover h3 {
  color: #fff;
}
.list_wrap .view_img4 .word_wrap h3 {
  display: flex;
  height: 60px;
  font-size: 16px;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: h3 0.4s ease;
}
.list_wrap .view_img4 .word_wrap ul {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px;
  height: calc(100% - 80px);
  grid-template-columns: 1fr;
  overflow-y: auto;
  flex-direction: column;
  scroll-behavior: smooth;
  position: relative;
  transition: all 1s ease;
  justify-content: flex-start;
  transition: grid-template-columns 0.5s ease;
}
.list_wrap .view_img4 .word_wrap ul li {
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  overflow: hidden;
  border: 1px solid #171717;
  border-radius: 5px;
  background: #171717;
  user-select: none;
  position: relative;
  z-index: 5;
}
.list_wrap .view_img4 .word_wrap ul li:hover {
  background: #000;
  border: 1px solid #000;
}
.list_wrap .view_img4 .word_wrap ul li:hover h4 {
  color: #fff;
}
.list_wrap .view_img4 .word_wrap ul li h4 {
  color: #9e9e9e;
  font-size: 14px;
  z-index: 2;
  transition: font-size, color 0.2s ease;
}
.list_wrap .view_img4 .word_wrap ul li h4 span {
  display: block;
  font-size: 9px;
  transition: font-size 0.2s ease;
  color: #767676;
}
.list_wrap .view_img4 .word_wrap ul li img {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.list_wrap .view_img4 .word_wrap ul li.selected {
  z-index: 10;
  top: 0;
  background: #302d66;
  border-color: #302d66;
}
.list_wrap .view_img4 .word_wrap ul li.selected h4 {
  color: #fff;
}
.list_wrap .view_img4.en h4 {
  font-size: 8px !important;
  color: #999 !important;
}
.list_wrap .view_img4.en h4 span {
  font-size: 19px !important;
  color: #fff !important;
}
.list_wrap .view_img4.zh h4 {
  font-size: 14px !important;
}
.list_wrap .view_img4.zh h4 span {
  font-size: 9px !important;
}

.show_weight {
  position: fixed;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  color: #fff;
  background: #f00;
  text-align: center;
  z-index: 100;
  margin-left: -9px;
  margin-top: -9px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px) {
  #full_version {
    width: 100%;
    overflow: hidden;
  }
  #full_version .version_wrap {
    width: 100%;
  }
  #full_version .version_wrap .container {
    height: 90%;
  }
  #full_screen .full_screen-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #full_screen .full_screen-wrap #fixed-header {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 0;
  }
  #full_screen .full_screen-wrap .right {
    width: 100%;
    height: 80%;
  }
  #full_screen .full_screen-wrap .right .list_wrap {
    height: 90%;
  }
  #full_screen .full_screen-wrap .right .view_bar {
    height: 10%;
  }
  #full_screen .full_screen-wrap .right .view_bar .view {
    width: 30%;
  }
  #main .container {
    padding: 0px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #main .container > div:nth-child(1) {
    display: none;
  }
  #main .container > div:nth-child(2) {
    grid-area: 1/1/3/3;
  }
  #main .container > div:nth-child(3) {
    display: none;
  }
  #main .container .left {
    height: 100%;
    justify-content: flex-start;
    visibility: hidden;
  }
  #main .container .main_wrap {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    row-gap: 0px;
    flex-direction: column;
  }
  #main .container .main_wrap .resize {
    display: none;
  }
  #main .container .main_wrap .en_wrap {
    width: 100%;
    min-height: 44%;
  }
  #main .container .main_wrap .zh_wrap {
    width: 100%;
    height: 100%;
  }
  #main .container .main_wrap .status_bar {
    overflow-x: auto;
  }
  #main .container .main_wrap .status_bar::-webkit-scrollbar {
    display: none;
  }
  #main .container .div_after {
    height: 100% !important;
  }
  #main .container .div_after #commonds {
    width: 100%;
  }
  #main .container .div_after #commonds .left {
    display: none;
    width: 0;
  }
  #main .container .div_after #commonds .right {
    width: 100%;
  }
}

/*# sourceMappingURL=layout.css.map */
