@import './components/base'
@import './components/element'
@import './components/view'

:root
  --body-bk-color: #333
  --bk-color1: #111
  --bk-color3: #222
  --bt-color1: #2d2d2d
  --bt-color1-hover: #fff
  --bt-color1-hover-bk: transparent
  --secondary-color: #ff5722
  --font-size: 16px
  --color-tab-bk: #222
  --color-tab-bk-hover: #111
  --color-caret: #fee082

.tooltip
  position: fixed
  z-index: 100
  padding: 10px 10px
  border: 1px solid #0b0b0b
  border-radius: 4px
  text-align: center
  font: 12px/1.3 sans-serif
  color: #c9c9c9
  background: #292929
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3)

html,body
  width: 100%
  height: 100%
  overflow: hidden

body
  display: flex

  background: var(--body-bk-color)
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background: var(--body-bk-color)

#full_version
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%
  &.on
    min-width: 0%
    width: 0px
    .container
      opacity: 0.5
  .version_wrap
    position: relative
    user-select: none
    display: flex
    min-width: 12%
    max-width: 300px
    height: 100%
    flex-direction: column
    background: #232222
    box-shadow: 0px 10px 38px -3px rgba(0, 0, 0, 0.1),0px 10px 15px -3px rgba(0, 0, 0, 0.1)
    z-index: 199
    transition: all 0.3s ease
    .container
      display: flex
      padding: 15px 0 15px 0
      height: 100%
      width: 100%
      overflow: hidden
      opacity: 1
      transition: opacity 0.1s ease-in
      flex-direction: column
      .nav
        box-sizing: border-box
        display: flex
        height: 40px
        width: 100%
        padding: 0 15px 0 15px
        align-content: center
        h2
          font-size: 16px
          width: 100%
          padding-left: 10px
        p
          display: flex
          width: 100%
          height: 100%
          flex-direction: row
          column-gap: 20px
          flex-wrap: nowrap
          align-items: center
          justify-content: flex-end
          i
            font-size: 14px
            color: #666
            &:hover
              color: #ccc
            &.on
              color: #eee
      .wrap
        opacity: 100
        width: 100%
        height: calc(100% - 90px)
        transition: all 0.1s ease
        overflow: hidden
        ul
          width: 100%
          height: 100%
          padding: 12px
          box-sizing: border-box
          display: flex
          flex-direction: column
          overflow-x: hidden
          overflow-y: auto
          row-gap: 8px
          li
            border-bottom: 1px solid #333
            padding: 10px 15px 10px 15px
            cursor: pointer
            max-height: 20%
            height: 100%
            display: flex
            transition: background 0.1s ease
            flex-direction: column
            border-radius: 8px
            row-gap: 10px
            overflow: hidden
            background: #171717
            &:hover
              background: #555
              h2
                color: #ccc
                p
                  visibility: visible
              p
                color: #fff
            h2
              display: flex
              text-align: left
              width: 100%
              height: 20px
              line-height: 20px
              font-size: 14px
              padding: 0
              color: #777
              justify-content: space-between
              span
                width: 100%
              p
                display: flex
                visibility: hidden
                column-gap: 12px
                justify-content: flex-end
            p
              text-overflow: ellipsis
              width: 100%
              font-size: 14px
              color: #ccc
      .open
        box-sizing: border-box
        padding: 0 15px 0 15px
        width: 100%
        height: 70px
        display: flex
        flex-direction: row
        column-gap: 10px
        overflow: hidden
        opacity: 1
        transition: opacity 0.1s ease
        cursor: pointer
        align-items: center
        justify-content: flex-end
        label
          display: flex
          padding: 0 15px 0 15px
          height: 34px
          background: #111
          font-size: 15px
          color: #fff
          justify-content: center
          align-items: center
          border-radius: 5px
          border: 1px solid transparent
          transition: border, background 0.2s ease
          &:hover
            background: transparent
            border: 1px solid #fff
          input
            display: none

    .folding
      width: 36px
      height: 50px
      font-size: 14px
      position: absolute
      display: flex
      background: #222
      right: -36px
      cursor: pointer
      color: #ccc
      top: calc(50% - 25px)
      justify-content: center
      align-items: center
      border-radius: 0 8px 8px 0
      user-select: none
      transition: all 0.3s ease
      &:hover
        background: #444
  .blur_full
    display: none
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    // -web-kit-backdrop-filter: blur(5px)
    // backdrop-filter: blur(5px)
    z-index: 999
#main_wrap
  background: var(--body-bk-color)

#full_screen
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  column-gap: 15px
  position: absolute
  width: 100%
  height: 100%
  // background-color: rgba(20, 20, 20, 1)
  -web-kit-backdrop-filter: blur(5px)
  // opacity: 0
  box-sizing: border-box
  overflow: hidden
  z-index: -99
  &.ontop
    background-color: rgba(20, 20, 20, 0.5)
    z-index: 99
  &.two
    height: 50%
  .full_screen-wrap
    display: flex
    width: 90%
    // max-width: 1200px
    height: 85%
    flex-direction: row
    align-items: flex-start
    overflow-y: auto
    justify-content: center
    background-color: #1d1d1d
    border-radius: 10px
    // box-shadow: 0px 10px 38px -3px rgba(0, 0, 0, 0.1),0px 10px 15px -3px rgba(0, 0, 0, 0.1)
    #fixed-header
      width: 12%
      height: 100%
      display: flex
      padding: 15px
      align-items: flex-start
      flex-direction: column
      justify-content: space-between
      background: #000
      h1
        text-align: center
        color: #fff
        line-height: 35px
        font-size: 22px
      p
        font-size: 15px
        color: #fff
      .top
        // display: none
        /* padding-top: 40px; */
        display: flex
        width: 100%
        overflow: hidden
        height: 50%
        flex-direction: column
        row-gap: 5px
        align-items: center
        img
          width: 150px
          height: 150px
        p#zh_intro
          width: 100%
          height: 100%
          color: #bebebe !important
          font-size: 14px !important
          padding: 20px
          overflow-y: auto
    .view_bar
      position: relative
      display: flex
      width: 100%
      height: 60px
      /* max-width: 1200px; */
      padding: 0 20px 0px 20px
      flex-direction: row
      flex-wrap: nowrap
      column-gap: 5px
      align-items: center
      justify-content: flex-end
    .right
      display: flex
      width: 88%
      /* padding: 20px; */
      height: 100%
      flex-direction: column
      justify-content: space-between

.view
  // display: none
  // display: flex
  color: #333
  height: 40px
  padding: 0 20px
  align-items: center
  justify-content: flex-end
  ul
    display: flex
    column-gap: 10px
    flex-direction: row
    justify-content: flex-end
    li
      font-size: 18px
      color: rgb(204, 204, 204)

#main
  display: flex
  width: 100%
  height: 100%
  justify-content: center
  background-color: var(--body-bk-color)
  .container
    width: 100%
    height: 100%
    max-width: 1920px
    display: grid
    grid-template-columns: 1fr 4fr
    grid-template-rows: 3fr 1fr
    grid-column-gap: 20px
    grid-row-gap: 18px
    padding: 5%

    >div
      &:nth-child(1)
        grid-area: 1 / 1 / 3 / 2
      &:nth-child(2)
        grid-area: 1 / 2 / 2 / 3
      &:nth-child(3)
        grid-area: 2 / 2 / 3 / 3
      &.left
        display: flex
        flex-direction: column
        transition: border 0.3s ease
        overflow: hidden
        border-radius: 8px
        border: 2px solid #222
        &.on
          border: 2px solid #fff
        footer
          height: 40px
          overflow: hidden
          ul
            display: flex
            flex-direction: row
            height: 100%
            width: 100%
            justify-content: center
            column-gap: 20px
            align-items: center
            background: #222
            border-radius: 8px 8px 0 0
            li
              // width: 40%
              overflow: hidden
              svg
                height: 20px
              img
                height: 20px
              a
                // visibility: hidden
        .wrap
          width: 100%
          height: calc(100% - 40px)
          position: relative
          iframe
            width: 100%
            height: 100%
            border-radius: 0 0 8px 8px
            overflow: hidden
          .info
            display: flex
            width: 100%
            height: 100%
            background: rgba(0, 0, 0, 0.5)
            backdrop-filter: blur(5px)
            position: absolute
            top: 0
            left: 0
            z-index: -1
            justify-content: center
            align-items: center
            p
              color: #fff
              font-size: 18px
            &.on
              z-index: 90

      &:hover
        border-color: #4d4d4d
        // box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3)
        button
          &:nth-child(n + 1):nth-child(-n + 3)
            opacity: 1
            visibility: visible

.main-wrap
  display: flex
  min-height: 50%
  flex-direction: row
  flex-wrap: wrap
  width: 100%
  overflow: hidden
  // max-width: 1200px
  position: relative
  z-index: 2
  nav
    color: #fff
    display: flex
    justify-content: space-between
    width: 100%
    user-select: none
    -web-kit-user-select: none
    h2
      box-sizing: border-box
      font-size: 15px
      font-family: "Open Sans"
      font-weight: normal
      padding: 0 20px 0 20px
      color: #fff
      height: 40px
      line-height: 40px
    ul
      display: flex
      li
        width: 40px
        text-align: center
        font-size: 18px
        line-height: 40px

        cursor: pointer
        color: #666
        background-color: transparent
        user-select: none
        -web-kit-user-select: none
        &.active
          color: #ccc
          background-color: #252525
        &:hover
          background-color: #111
  .status_bar
    position: relative
    display: flex
    width: 100%
    height: 80px
    justify-content: flex-start
    flex-direction: row
    align-content: center
    align-items: center
    overflow: hidden
    user-select: none
    -web-kit-user-select: none
    p
      max-width: 60%
      white-space: nowrap
      overflow: hidden
      line-height: 35px
      text-overflow: ellipsis
      visibility: hidden

  .tab1
    background: #222
    z-index: 23
    &:hover
      background: #111
  .tab2
    background: #222
    &:hover
      background: #111

  .en_wrap
    display: flex
    width: 50%
    position: relative
    top: 0
    min-height: 150px
    border-radius: 8px 0 0 8px
    /* border: 1px solid #111; */
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    /* transition: all 0.3s ease; */
    overflow: hidden
    background: #232323
    &:hover
      background-color: rgb(30, 30, 30)
    .status_bar
      justify-content: flex-end
      button
        transition: all 0.4s ease
        &:nth-child(1)
          position: absolute
          padding: 0 10px 0 10px
          left: 20px
          margin: 0
        &:nth-child(2)
          position: absolute
          left: 130px
        &:nth-child(n + 3):nth-child(-n + 5)
          background-color: transparent
          min-width: 35px
          margin: 0
          padding: 0
          &:hover
            color: #fff
        // &:before
        //   

    #en_tabs
      position: relative
      width: 100%
      height: 100%
      text-align: left
      #word_edit_en
        &.ontop
          z-index: 26
        ul
          display: flex
          flex-direction: column
          align-items: flex-end
          flex-wrap: wrap
          padding: 20px
          column-gap: 10px
          row-gap: 10px
          li
            position: relative
            font-size: 14px
            top: 0
            display: flex
            min-height: 20px
            height: 100%
            color: #b9b9b9
            border: 1px solid transparent
            padding: 3px 6px 4px 8px
            border-radius: 5px
            flex-direction: column
            transition: all 0.3s ease
            cursor: pointer
          div
            &.ontop
              z-index: 29
              ul
                text-align: right
                z-index: 29
  .zh_wrap
    position: relative
    width: 50%
    display: flex
    min-height: 120px
    color: #a0a0a0
    background-color: #222
    border-radius: 0 8px 8px 0
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    position: relative
    overflow: hidden
    #zh_tabs
      position: relative
      width: 100%
      height: 100%
      text-align: left
      div
        &.ontop
          z-index: 29

  &:hover
    background-color: rgb(30, 30, 30)
    .status_bar button:nth-child(n + 2):nth-child(-n + 7)
      opacity: 1

  .status_bar
    justify-content: flex-start
    button
      background: var(--bt-color1)
      &:hover,&.on
        background: var(--bt-color1-hover-bk)
        color: var(--bt-color1-hover)

  .resize // 拖拽条
    position: absolute
    width: 6px
    left: 50%
    height: 100%
    background-color: rgba(0, 0, 0, 0)
    cursor: w-resize
    z-index: 77
    transition: opacity,border-radius,width 0.3s
    i
      opacity: 0
      cursor: pointer
      user-select: none
      -web-kit-user-select: none
      transition: transform 0.3s ease-out
    &:hover,&.mg
      background-color: rgb(69, 69, 69)
      opacity: 1
    &.mgleft,&.mgright
      display: flex
      color: #666
      font-size: 20px
      align-content: center
      justify-content: center
      align-items: center
      i
        opacity: 1
      &:hover
        color: #ccc
        background: #111

    &.mgleft
      left: 0
      width: 40px
      border-radius: 8px 0 0 8px
      background: #191919
      user-select: none
      -web-kit-user-select: none
      i
        &:hover
          transform: scale(1.3)

    &.mgright
      left: 0
      width: 40px
      border-radius: 0 8px 8px 0
      background: #191919
      i
        transform: scaleX(-1)
        &:hover
          transform: scale(-1.3, 1.3)

.div_after
  width: 100%
  position: relative
  padding: 20px
  box-sizing: border-box
  background-color: #111
  // max-width: 1200px
  height: 170px
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column
  align-content: center
  flex-wrap: nowrap
  border-radius: 8px
  overflow: hidden
  transition: top 0.3s ease
  z-index: 1
  >div
    position: absolute
    left: 0
    top: 0
    opacity: 0
    transition: z-index
    &.active
      opacity: 1
      z-index: 87
    &.tab_default
      opacity: 1
      z-index: 82
      height: 100%
      width: 100%
      display: flex
      background-color: var(--color-tab-bk)
      transition: background-color 0.15s ease
      &:hover
        background-color: var(--color-tab-bk-hover)
      #commonds
        display: flex
        color: #999
        width: 100%
        padding: 20px
        flex-wrap: nowrap
        flex-direction: row
        justify-content: space-between
        align-items: flex-start
        column-gap: 12px
        row-gap: 12px
        align-content: center
        background: var(--color-tab-bk)
        .left
          display: flex
          height: 100%
          width: 30%
          flex-direction: row
          justify-content: space-between
          >div
            width: 50%
          .aspect_wrap
            display: flex
            flex-direction: column
            label
              display: flex
              height: 30px
            section
              display: flex
              width: 156px
              height: 90px
              color: #999
              background: #222
              border: 2px solid #424242
              justify-content: center
              align-items: center
              &:hover
                color: #eee
                background: #333
              p
                font-size: 26px
                font-weight: bold
        .right
          display: flex
          height: 100%
          width: 70%
          flex-direction: column
          flex-wrap: wrap
          row-gap: 5px
          >div
            display: flex
            flex-direction: row
            justify-content: space-between
            column-gap: 10px
            box-sizing: border-box
            width: 50%
            min-width: 100px
            height: 26px
            padding-left: 5px
            font-family: "Open Sans"
            font-size: 14px
            line-height: 26px
            color: #999
            transition: all 0.3s ease-in
            border: 1px solid transparent
            label
              width: 40%
              text-align: right
            &:hover
              label
                color: #ccc
        input
          width: 60%
          border: none
          background-color: #2e2e2e
          color: #fff
          border-radius: 3px
          &:hover
            color: #ccc
            border-color: #fdfdfd
            background-color: #000000
        select
          width: 60%
          border: none
          background-color: #2e2e2e
          color: #fff
          border-radius: 3px
          option
            background-color: #666
            color: #fff

.tab1,.tab2
  position: absolute
  width: 100%
  height: 100%
  overflow-y: auto

#word_edit_en
  ul
    li
      &:hover,&.on
        top: -2px
        background-color: transparent
        border: 1px solid #999
        span
          color: #fff
      &.clicked
        background: #fff !important
        color: #000 !important

#word_edit
  width: 100%
  height: 100%
  font-size: 15px
  color: #a0a0a0
  /* margin: 40px 0 80px 0; */
  ul
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-wrap: wrap
    padding: 20px
    column-gap: 10px
    row-gap: 10px
    li
      position: relative
      top: 0
      display: flex
      min-height: 20px
      font-size: 14px
      height: 100%
      color: #c4c4c4
      border: 1px solid transparent
      padding: 3px 6px 4px 8px
      border-radius: 5px
      flex-direction: column
      transition: all 0.12s ease
      cursor: pointer
      &:hover,&.on
        top: -2px
        /* background: #fff !important; */
        background-color: transparent
        border: 1px solid #999
        span
          color: #fff
            /* font-weight: bold; */
      &.clicked
        background: #fff !important
        color: #000 !important
      i
        font-family: "Open Sans"
        color: #c7c7c7
        font-size: 12px
        position: relative
        top: -3px
        display: none
      span
        position: relative
        color: #b0b0b0
        font-size: 15px
        position: relative
        top: 1px
        font-family: "Open Sans"
    .moving
      background: transparent
      color: transparent
      border: 1px dashed #ccc

  h3
    font-size: 18px
    font-family: "Open Sans"
    font-weight: normal
    padding: 0 20px 8px 0
    color: #fff
    height: 34px
    line-height: 40px
    /* border-bottom: 1px solid #555; */
    margin: 20px 0 10px 0

#p_en
  font-family: Consolas, monospace
  overflow-y: auto
  font-size: 16px
  line-height: 1.5em
  color: rgb(180, 180, 180)
  caret-color: var(--color-caret)
  span
    padding: 0 2px 0 2px
    i
      padding: 0 2px 0 2px
    strong
      color: rgb(39, 156, 117)
      transition: all 0.8s ease
      &:hover
        color: rgb(36, 36, 36)
        background-color: rgb(39, 156, 117)
.div_edit
  caret-color: var(--color-caret)
  padding: 20px
  width: 100%
  height: 100%

#temp_en_edit
  // display: none
  font-family: Consolas, monospace
  font-size: 12px
  line-height: 1.5em
  color: rgb(180, 180, 180)
  border: 1px solid transparent
  padding: 10px
  width: 100%
  height: 50%
  word-wrap: break-word
  overflow-y: auto
  border-radius: 5px
  span
    padding: 0 2px 0 2px
    i
      padding: 0 2px 0 2px
    strong
      color: rgb(39, 156, 117)
      transition: all 0.8s ease
      &:hover
        color: rgb(36, 36, 36)
        background-color: rgb(39, 156, 117)

.list_wrap
  position: relative
  width: 100%
  height: 100%
  overflow: hidden
  .prev,.next
    display: flex
    position: absolute
    width: 10%
    height: 100%
    top: 0
    z-index: 10
    justify-content: center
    align-items: center
    user-select: none
  .prev
    left: 0
    background: linear-gradient(90deg, #000 23.9%, rgba(0, 0, 0, 0) 101.11%)
    i
      text-align: center
      font-size: 40px
      color: #888
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      opacity: 0.3
      transition: opacity, font-size, color 0.5s ease
    &:hover
      i
        color: #fff
        font-size: 60px
        opacity: 1
    &.hide
      visibility: hidden

  .next
    right: 0
    background: linear-gradient(-90deg, #000 23.9%, rgba(0, 0, 0, 0) 101.11%)
    i
      text-align: center
      font-size: 40px
      color: #888
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      display: flex
      opacity: 0.3
      transition: opacity, font-size, color 0.5s ease
    &:hover
      i
        color: #fff
        opacity: 1
        font-size: 60px
    &.hide
      visibility: hidden
  .view_img4
    width: 100%
    height: 100%
    overflow-x: auto
    overflow-y: hidden
    white-space: nowrap
    padding: 0 20px 0 20px
    scroll-behavior: smooth
    z-index: 1
    &.blur
      filter: blur(10px)
      transition: filter 0.3s ease-in-out

    &::-webkit-scrollbar
      // width: 10px
      height: 12px
    &::-webkit-scrollbar-track
      background: transparent

    .word_wrap
      box-sizing: border-box
      width: 300px
      height: 100%
      display: inline-block
      overflow: hidden
      background: transparent
      // margin: 5px
      color: #eee
      &:nth-child(even)
        // background-color: #111
      &:nth-child(odd)
        // background-color: #000
      &:hover
        background: #333
      h3
        display: flex
        height: 60px
        font-size: 16px
        text-align: center
        align-content: center
        justify-content: center
        align-items: center
      ul
        // display: flex
        row-gap: 10px
        column-gap: 10px
        padding: 0 10px
        height: calc(100% - 60px)
        overflow-y: auto
        flex-direction: column
        justify-content: flex-start
        scroll-behavior: smooth
        position: relative
        li
          padding: 10px
          box-sizing: border-box
          height: 60px
          margin-bottom: 10px
          overflow: hidden
          border: 1px solid #171717
          border-radius: 5px
          background: #171717
          user-select: none
          // transition: all 0.15s ease
          position: relative
          z-index: 5
          &:hover
            background: #000
            border: 1px solid #000
            h4
              color: #fff
          h4
            color: #9e9e9e
            font-size: 14px
            z-index: 2
            transition: font-size,color 0.2s ease
            span
              display: block
              font-size: 9px
              transition: font-size 0.2s ease
              color: #767676
          img
            display: none
            position: absolute
            right: 0
            top: 0
            z-index: 1
            // object-fit: cover
          &.selected
            z-index: 10
            top: 0
            position: sticky
            background: #302d66
            border-color: #302d66
            h4
              color: #fff

    &.en
      h4
        font-size: 8px !important
        color: #999 !important
        span
          font-size: 19px !important
          color: #fff !important
    &.zh
      h4
        font-size: 14px !important
        span
          font-size: 9px !important

@import './components/media'
